<a href="https://colab.research.google.com/github/AhmadFirmanto/Statistik/blob/main/inferensial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#library

In [3]:
import pandas as pd
import numpy as np
from scipy import stats
import random

#data

In [4]:
data_a = np.array([random.choice(range(10, 90)) for i in range(30)])

data = pd.DataFrame({'A' : data_a})
data

     A
0   25
1   83
2   63
3   42
4   60
5   37
6   44
7   52
8   50
9   78
10  63
11  58
12  25
13  26
14  52
15  51
16  21
17  17
18  52
19  39
20  72
21  42
22  15
23  28
24  69
25  87
26  57
27  53
28  44
29  27

In [5]:
data.describe()

               A
count  30.000000
mean   47.733333
std    19.466919
min    15.000000
25%    30.250000
50%    50.500000
75%    59.500000
max    87.000000

* rata-rata = 47.73
* simpangan baku/ standart deviasi = 19.46

#Z-score

* berapa banyak data yang di bawah 60
* berapa banyak data yang di bawah 30
* berapa banyak data antara 30 s/d 60
* berapa banyak data di atas 30

In [11]:
Z_score_60 = (60 - 47.73) / 19.49 #nilai - rata-rata / simpangan baku
cdf_60 = stats.norm(0, 1).cdf(Z_score_60) #standarisasi / transformasi
cdf_60

0.7355066608330806

In [12]:
cdf_60 * 30

22.06519982499242

* banyak data di bawah 60 ada 73%
* banyak data di bawah 60 ada 22

In [9]:
Z_score_30 = (30 - 47.73) / 19.49
cdf_30 = stats.norm(0, 1).cdf(Z_score_30)
cdf_30

0.18149108935718933

In [10]:
cdf_30 * 30

5.4447326807156795

* banyak data di bawah 30 ada 18%
* banyak data di bawah 30 ada 5

In [13]:
cdf_60 * 30 - cdf_30 * 30

16.620467144276738

* data antara 30 s/d 60 ada 16

In [14]:
30 - 5

25

* data di atas 30 ada 25