<a href="https://colab.research.google.com/github/AhmadFirmanto/Statistik/blob/main/normal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#library

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import random

#data

In [2]:
data_a = np.array([random.choice(range(30, 60)) for i in range(30)])

data = pd.DataFrame({'A' : data_a})
data

     A
0   50
1   43
2   43
3   45
4   38
5   45
6   37
7   39
8   56
9   30
10  50
11  56
12  31
13  44
14  44
15  30
16  42
17  57
18  38
19  46
20  55
21  58
22  58
23  41
24  47
25  52
26  54
27  43
28  34
29  39

#uji normalitas

##shapiro - wilk test

In [3]:
stats.shapiro(data)

ShapiroResult(statistic=0.9531655311584473, pvalue=0.20535340905189514)

* p-value (0.20) > alpha (0.05)
* terima H0
* data berdistribusi secara normaal

In [4]:
data_s, p_value = stats.shapiro(data)
print(p_value)

#menampilkan nilai p-value saja

0.20535340905189514

##D'Agostino's K-squered Test
* mengecek ukuran skwekness dan kurtosiss suatu data apakah normal atau tida

In [6]:
stats.normaltest(data)

NormaltestResult(statistic=array([1.62356378]), pvalue=array([0.44406608]))

* p-value (0.44) > alpha (0.05)
* terima H0
* data normal

##Jarque - Bera Test
* bekerja dengan baik bila data yang besar lebih dari 2000

In [7]:
stats.jarque_bera(data)

Jarque_beraResult(statistic=1.027484863779987, pvalue=0.5982524649767434)

* p-value (0.59) > alpha (0.05)
* terima H0
* data normal

##Chisquere Test

In [9]:
stats.chisquare(data)

Power_divergenceResult(statistic=array([45.68401487]), pvalue=array([0.02521849]))

* p-value (0.02) < alpha (0.05)
* tolak H0 = terima H1
* data tidak normal dengan menggunakan metode chisquare